.fav_cont{
    padding-top: 100px;
}
.fav_cont > .heading{
    position: relative;
    font-size: 28px;
    padding-bottom: 5px;
    width: fit-content;
    overflow: hidden;
}
.fav_cont > .heading::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 40%;
    transform: translateX(-20%);
    background-color: var(--lineColour);
    animation: 2.5s line ease-in-out infinite alternate;
}
.fav_cont .no_favourites{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 30px;
    border: 2px dashed var(--lineColour);
    border-radius: 5px; 
    font-size: 18px;
}
.fav_cont .no_favourites .like{
    transform: scale(1.1);
    color: white;
    background-color: rgba(213, 213, 213, 0.69);
    height: 30px;
    width: 30px;
    display: grid;
    place-items: center;
    cursor: pointer;
    border-radius: 100%;
    margin-inline: 10px;
    transition: 0.5s ease-in-out;
}
.fav_cont .no_favourites .like:hover{
    transform: scale(1.2);
}
.fav_cont .no_favourites .like.active{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    animation: bounce 0.3s;
    transform: scale(1.2);
}

@media only screen and (max-width: 750px) {

    .fav_cont > .heading{
        font-size: 24px;
    }
    .fav_cont > .heading::after{
        height: 2px;
    }
}

@media only screen and (max-width: 550px) {

    .fav_cont > .heading{
        font-size: 20px;
    }
    .fav_cont > .heading::after{
        height: 1px;
    }
    .fav_cont .no_favourites{
        font-size: 14px;
        padding-block: 20px;
    }
}