.chat_cont{
    max-height: 100vh;
    min-height: 100vh;
    height: 100vh;
    /* background-image: url(https://thumbs.dreamstime.com/b/bakery-seamless-background-baking-doodle-vector-pattern-pastry-sketches-hand-drawn-cakes-pies-wallpaper-bread-objects-157631532.jpg); */
    /* background-image: url(https://www.teahub.io/photos/full/6-62488_light-abstract-wallpapers-high-definition-for-free-high.jpg); */
    background-image: url(https://wallpapersmug.com/large/4d7d03/light-colors-geometric-pattern-abstract.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
}
.chat_cont .chat_header{
    background-color: var(--secondary);
    padding: 10px 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chat_cont .chat_header .dp{
    min-width: 50px;
    min-height: 50px;
    border-radius: 100%;
    margin-right: 20px;
    background-image: url(logo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.chat_cont .chat_header .left{
    display: flex;
    align-items: center;
}
.chat_cont .chat_header .right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    max-width: 100px;
    min-width: 60px;
}
.chat_cont .chat_header .right .social{
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.chat_cont .chat_header .right .social.phone:hover{
    transform: scale(1)!important;
}
.chat_cont .chat_header .right .social:hover{
    transform: scale(1.1);
}
.chat_cont .chat_section{
    padding-inline: 20px;
    padding-bottom: 10px;
    height: 87%;
    overflow-y: scroll;
    overflow-x: none;
    border: 3px solid var(--secondary);
    border-bottom: none;
    display: flex;
    flex-direction: column;
    outline: none;
}
.chat_cont .chat_section .conversation_sec{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}
.chat_cont .chat_section .conversation_sec .date{
    align-self: center;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--body);
    margin-bottom: 5px;
    font-size: 14px;
}
.chat_cont .chat_section::-webkit-scrollbar,
.chat_cont .chat_footer textarea::-webkit-scrollbar{
    width: 0.4vw;
    min-width: 3px;
}
.chat_cont .chat_section::-webkit-scrollbar-thumb,
.chat_cont .chat_footer textarea::-webkit-scrollbar-thumb{
    border: none;
    background-color: var(--lineColour);
}
.chat_cont .chat_section .message{
    position: relative;
    padding: 10px 10px;
    padding-bottom: 18px;
    background-color: rgb(245, 245, 245);
    overflow: hidden;
    min-width: 80px;
    max-width: 65%;
    width: fit-content;
    border-radius: 10px;
    border-top-left-radius: 0px;
    margin-top: 10px;
    align-self: flex-start;
    font-size: 14px;
    overflow-wrap: break-word;
}
.chat_cont .chat_section .message .time{
    position: absolute;
    bottom: 2px;
    right: 5px;
    font-size: 10px;
}
.chat_cont .chat_section .message::after{
    content: '';
    position: absolute;
    top: 0;
    left: -9px;
    height: 15px;
    width: 10px;
    clip-path: polygon(100% 0, 100% 100%, 0 0);
    background-color: rgb(245, 245, 245);
}
.chat_cont .chat_section .message.active{
    align-self: flex-end;
    right: 0;
    border-radius: 10px;
    border-top-right-radius: 0px;
    background-color: var(--secondary);
}
.chat_cont .chat_section .message.active::after{
    display: none;
}
.chat_cont .chat_section .message.active::before{
    content: '';
    position: absolute;
    top: 0;
    right: -9px;
    height: 15px;
    width: 10px;
    clip-path: polygon(0 100%, 100% 0, 0 0);
    background-color: var(--secondary);
}
.chat_cont .chat_footer{
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: var(--secondary);
    height: 12%;
    max-height: 80px;
    min-height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.chat_cont .chat_footer .input{
    width: 100%;
    height: 100%;
}
.chat_cont .chat_footer .input textarea{
    background-color: var(--body);
    outline: none;
    border: none;
    padding: 5px 10px;
    width: 100%;
    height: 100%;
}
.chat_cont .chat_footer .send_btn{
    margin-left: 20px;
    height: 45px;
    width: 45px;
    min-height: 45px;
    min-width: 45px;
    display: grid;
    place-items: center;
    border-radius: 100%;
    color: white;
    background-color: var(--btnColour);
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}
.chat_cont .chat_footer .send_btn:hover{
    transform: scale(1.2);
}
.chat_cont .chat_footer .send_btn.active{
    animation: bounce 0.5s;
}
@keyframes bounce {
    0%{
        transform: scale(1.1);
    }
    25%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1.1);
    }
}
.chat_cont .error_message{
    font-size: 14px;
    color: var(--error);
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: 0.25s ease-in-out;
}
.chat_cont .error_message.active{
    opacity: 1;
}

@media only screen and (max-width: 700px) {
    
    .chat_cont .chat_section .message{
        max-width: 75%;
        padding: 10px;
        padding-bottom: 15px;
    }
    .chat_cont .chat_header{
        font-size: 18px;
        font-weight: 500;
    }

}

@media only screen and (max-width: 550px) {

    .chat_cont .chat_section .message{
        max-width: 90%;
        padding: 5px 10px;
        padding-bottom: 15px;
        font-size: 15px;
    }
    .chat_cont .chat_section .message .time{
        font-size: 10px;
    }
    .chat_cont .chat_header{
        font-size: 16px;
        font-weight: 500;
    }
    .chat_cont .chat_header .dp{
        margin-right: 10px;
    }
    .chat_cont .chat_header .right{
        font-size: 18px;
    }
    .chat_cont .chat_footer{
        padding: 10px;
    }
    .chat_cont .chat_footer .send_btn{
        margin-left: 10px;
        height: 40px;
        width: 40px;
        min-height: 40px;
        min-width: 40px
    }
}

@media only screen and (max-height: 450px) {
    .chat_cont .chat_footer{
        padding: 5px;
    }
    .chat_cont .chat_footer .send_btn{
        margin-left: 8px;
        height: 35px;
        width: 35px;
        min-height: 35px;
        min-width: 35px
    }
}