.comment_cont{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    width: fit-content;
    border-bottom: 2px solid var(--body);
    position: relative;
    width: 100%;
    background-color: rgba(207, 186, 219, 0.6);
    border-radius: 5px;
}
.comment_cont.active{
    padding-bottom: 30px;
}
.comment_cont .img{
    height: 70px;
    width: 70px;
    min-width: 70px;
    min-width: 70px;
    border-radius: 100%;
    margin-right: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.comment_cont .img.mob_view{
    display: none;
}
.comment_cont .top_line{
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}
.comment_cont .top_line .date_review{
    display: flex;
}
.comment_cont .top_line .name{
    font-size: 20px;
    margin-right: 20px;
}
.comment_cont .top_line .date{
    font-size: 16px;
    margin-right: 20px;
}
.comment_cont .bottom_line{
    display: flex;
}
.comment_cont .bottom_line .cmt{
    font-size: 16px;
    text-align: justify;
    margin-right: 30px;
}
.comment_cont .bottom_line .delete,
.comment_cont .bottom_line .edit{
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: var(--btnColour);
    height: 35px;
    width: 35px;
    border-radius: 100%;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}
.comment_cont .bottom_line .edit{
    right: 47px;
}
.comment_cont .bottom_line .delete:hover,
.comment_cont .bottom_line .edit:hover{
    transform: scale(1.05);
}


@media only screen and (max-width: 850px) {
    
    .comment_cont .img{
        height: 60px;
        min-width: 60px;
        max-width: 60px;
    }
}
@media only screen and (max-width: 650px) {
    
    .comment_cont .img{
        height: 50px;
        min-width: 50px;
        max-width: 50px;
    }
}
@media only screen and (max-width: 450px) {
    
    .comment_cont{
        padding: 10px;
    }
    .comment_cont.active{
        padding-bottom: 40px;
    }
    .comment_cont .img{
        margin-right: 10px;
        height: 40px;
        min-width: 40px;
        max-width: 40px;
    }
    .comment_cont .img.full_view{
        display: none;
    }    
    .comment_cont .img.mob_view{
        display: block;
    }
    .comment_cont .top_line .name{
        font-size: 16px;
        font-weight: 500;
        margin-right: 10px;
    }
    .comment_cont .top_line .date,
    .comment_cont .top_line .rating{
        font-size: 14px;
        margin-right: 10px;
    }
    .comment_cont .bottom_line .cmt{
        font-size: 17px;
        text-align: justify;
        margin-right: 30px;
    }
    .comment_cont .bottom_line .delete,
    .comment_cont .bottom_line .edit{
        height: 30px;
        width: 30px;
        font-size: 14px;
    }
}