.signup_cont{
    position: relative;
    padding: 100px 5vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    background: linear-gradient(50deg, rgb(182,140,222), rgb(162,124,198), rgb(141,109,173), rgb(121,93,148));
    animation: moveback 420s ease infinite;
    background-size: 420%;
}

.signup_cont .signup{
    position: relative;
    z-index: 1;
    padding: 50px;
    width: 60vw;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.signup_cont .signup.error{
    animation: error 0.3s;
}
@keyframes error {
    0%{
        transform: translateX(10px);
    }
    25%{
        transform: translateX(-10px);
    }
    50%{
        transform: translateX(10px);
    }
    75%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(0px);
    }
}
.signup_cont .signup .form{
    width: 100%;
    position: relative;
    height: 70px;
    overflow: hidden;
    color: black;
}
.signup_cont .signup .form_error{
    margin-left: 5px;
    font-size: 12px;
    display: none;
    color: red;
} 
.signup_cont .signup .form_error.active{
    display: block;
}

.signup_cont .signup .form input{
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #595f6e;
    padding-top: 30px;
    padding-left: 10px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0);
}
.signup_cont .signup .form label{
    font-size: 18px;
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}
.signup_cont .signup .form label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 4px solid var(--lineColour);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.signup_cont .signup .content-name{
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all 0.3s ease;
    font-weight: 500;
}

.signup_cont .signup .form input:focus + .label-name .content-name,
.signup_cont .signup .form input:valid + .label-name .content-name {
    transform: translateY(-120%);
    font-size: 19px;
    color: var(--lineColour);
}

.signup_cont .signup .form input:focus + .label-name::after, 
.signup_cont .signup .form input:valid + .label-name::after{
    transform: translateX(0%);
}

.signup_cont .signup .form .address.error{
    border: 2px solid hsl(0, 100%, 40%);
}
.signup_cont .signup .form label.error{
    color: hsl(0, 100%, 40%);
    border-bottom: 1px solid hsl(0, 100%, 40%);
}
.signup_cont .signup .form label.error::after{
    border-bottom: 4px solid hsl(0, 100%, 40%);
}
.signup_cont .signup .form input.error:focus + .label-name .content-name,
.signup_cont .signup .form input.error:valid + .label-name .content-name {
    color: hsl(0, 100%, 40%);
}

.signup_cont .signup .notes .heading{
    font-size: 18px;
    margin-top: 10px;
    font-weight: 500;
}

.signup_cont .signup .notes textarea{
    width: 100%;
    height: 100px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: hsla(0, 0%, 100%, 0.2);
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--lineColour);
    transition: 0.5s ease-in-out;
}

.signup_cont .signup .notes textarea.error{
    border: 1px solid hsl(0, 100%, 40%);
}
.signup_cont .signup .submit{
    margin-bottom: 10px;
    padding: 10px 25px;
    background-color: var(--btnColour);
    color: white;
    border-radius: 50px; 
    font-size: 18px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.signup_cont .signup .submit:hover{
    text-decoration: none;
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.signup_cont .signup .msg{
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    text-decoration: underline;
    color: black;
}
.signup_cont .signup .msg:hover{
    color: var(--btnColour);
}
@media only screen and (max-width:550px){

    .form{
        font-size: 18px;
    }
    .signup_cont .signup .form input:focus + .label-name .content-name,
    .signup_cont .signup .form input:valid + .label-name .content-name {
        font-size: 16px;
    }
    .signup_cont .signup .submit_cont .submit{
        font-size: 18px;
    }
}